
<!-- 
krøll-alfa model ItemListViewModel
usikker på om denne model skal på eller en anden 
-->

<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"> </button>
        <button type="button" data-bs-target="carouselImages" data-bs-slide-to="1" aria-label="Slide 2"> </button>
        <button type="button" data-bs-target="carouselImages" data-bs-slide-to="2" aria-label="Slide 3"> </button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/fancyGarn.jpg" class="d-block w-100" alt="Fancy Garn" />

        </div>
        <div class="carousel-item">
            <img src="~/images/masseGarn.jpg" class="d-block w-100" alt="Masse Garn" />

        </div>
    </div>
</div>